{{> menu active="about"}}

<section class="hero">
  <div class="hero-body has-text-centered">
    <p class="title ">
      Add camper parking locations for you and others... </p>
      <img src="https://res.cloudinary.com/dhouhm9vg/image/upload/v1679253166/camper-pin_kfheeo.jpg">
  </div>
</section>
