{{> menu active="about"}}

<section class="hero">
  <div class="hero-body has-text-centered">
    <p class="title ">
      Point of interest: Add point of interest pins </p>
    <p class="box">
      <i class="fas fa-10x fa-map-pin"></i>
    </p>
  </div>
</section>
