{{> menu active="pin"}}

<section class="section">
  {{> admin-totals }}
  <h2 class="title">Users:</h2>
  {{> list-users }}
  {{> pin-category-stats }}
  <h2 class="title">All user pins:</h2>
  {{> list-user-pins }}
</section>
