{{> welcome-menu}}

<div class="columns is-vcentered ">
  <div class="column has-text-centered">
    <h> Sign up or Log in... </h>
  </div>
  <div class="column">
    <img src="https://res.cloudinary.com/dhouhm9vg/image/upload/v1679253166/camper-pin_kfheeo.jpg">
  </div>
</div>