{{> menu active="pin"}}

<section class="section columns">
    <div class="columns">
        <div class="column">
            {{> pin-tags pin}}
            {{> add-tags pin}}
            {{> add-category pin}}
        </div>
        <div class="column">
            {{> add-image }}
        </div>
    </div>
</section>
