<section class="section">
  
  <form class="box" action="/dashboard/addpin" method="POST">
    <h1 class="title">Add Pin</h1>
    <div class="field">
      <label class="label">Pin name</label> <input class="input" type="text" placeholder="Enter pin name" name="name">
    </div>
    <div>
      <button class="button is-link">Add Pin</button>
    </div>
    </form>
</section>

  
</div>


