<div class="box box-link-hover-shadow">
  <div class="columns">
    <div class="column">
      <p class="subtitle">
        Total users
      </p>
      <p class="title">
        {{userTotal}}
      </p>
    </div>
    <div class="column">
      <p class="subtitle">
        Total pins
      </p>
      <p class="title">
        {{pinTotal}}
      </p>
    </div>
  </div>
</div>
