  <form class="box" action="/categories/filter" method="POST">
    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field">
            <label class="label">Filter:</label>
            <div class="control">
                <div class="select">
                    <select name="filter">
                        <option value="Camp type">Camp type</option>
                        <option value="County">County</option>
                        <option value="Placename">Placename</option>
                    </select>
                </div>
            </div>
          </div>
        </div>  
        <div class="field is-horizontal">
          <button class="button is-link">Filter</button>
        </div>    
    </div>
  </form>