<div class="box box-link-hover-shadow">
  <form class="box" action="/settings/updatepassword" method="POST">
    <h1 class="title">Change Password</h1>
    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field">
          <label class="label">Old Password</label> <input class="input" type="text" placeholder="Enter your old password" name="oldpassword">
        </div>
        <div class="field">
          <label class="label">New Password</label> <input class="input" type="text" placeholder="Enter your new password" name="newpassword">
        </div>
        <div>
          <button class="button is-link">Change Password</button>
        </div>
      </div>
    </form>
</div>