<div class="box box-link-hover-shadow">
  <form class="box" action="/settings/updatename" method="POST">
    <h1 class="title">Edit name</h1>
    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field">
          <label class="label">First name</label> <input class="input" type="text" placeholder="Enter your new first name" name="firstname">
        </div>
        <div class="field">
          <label class="label">Last name</label> <input class="input" type="text" placeholder="Enter your new surname" name="lastname">
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field">
          <label class="label">Enter your password to make the change</label> <input class="input" type="text" placeholder="Password" name="password">
        </div>
        <div>
          <button class="button is-link">Change Name</button>
        </div>
      </div>
    </div>
  </form>
</div>

