<div class="box box-link-hover-shadow">
  <form class="box" action="/settings/updateemail" method="POST">
    <h1 class="title">Edit email</h1>
    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field">
          <label class="label">Email</label> <input class="input" type="text" placeholder="Enter your new email address" name="email">
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field">
          <label class="label">Enter your password to make the change</label> <input class="input" type="text" placeholder="Password" name="password">
        </div>
        <div>
          <button class="button is-link">Change Email</button>
        </div>
      </div>
    </div>
  </form>
</div>

