<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
      <tr>
        <td>
          {{firstName}}
        </td>
        <td>
          {{lastName}}
        </td>
        <td>
          {{email}}
        </td>
        <td>
            <a href="/admin/removeuser/{{_id}}" class="button is-danger">
                Remove
            </a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
