<div class="box box-link-hover-shadow">
  <p class="subtitle">Pins per county</p>
  <div class="columns">
    {{#each pinTotalCounty}}
      <div class="column">
        <b>{{_id}}</b>
        <p class="subtitle-2">{{count}}</p>
      </div>
    {{/each}}
  </div>
</div>
