<div class="title p-3 is-flex">
  <figure class="image is-50x75">
    <img src="http://res.cloudinary.com/dhouhm9vg/image/upload/v1679254270/camper-pins-logo_pr2rcd.svg"></i>
  </figure>
  <div class="ml-4">CamperPins</div>
</div>